<% title "ইনফিনিট লুপ সম্পর্কে" %>

<div class="posts-other">
	<h1 style="text-align: center;">ইনফিনিট লুপ সম্পর্কে কিছু কথা</h1>
	<p>ইনফিনিট লুপ সম্পূর্ণ খেয়াল এর বশে বানানো একটি ব্লগ। আমরা প্রতিদিন কত কিছুই তো শিখি, আবার ভুলেও যাই। পরে দরকার পরলে মাথা খুটতে হয় ওই চিরপরিচিত গুগল ভ্রাতার কাছেই। কিন্তু শেখা জিনিস গুলো যদি এক জায়গায় সুন্দর করে বাংলায় গুছিয়ে লেখা থাকে আর চট করে প্রয়োজনের সময় দেখে নেওয়া যায় তাহলে মন্দ হয় না কি বলেন। অন্যরাও দেখে নতুন কিছু জানতে বা শিখতেও পারে, কে জানে।</p>
	<p>ইনফিনিট লুপ এর এই লেখাগুলো অন্য কারও কাজে লাগলে ভালই লাগবে। আপাতত রেজিস্টার্ড ব্যবহারকারীরা পোস্ট প্রিয় তে নেয়া বাদে আর কোন বাড়তি সুবিধা পাচ্ছেন না। পরবর্তিতে সবার জন্য আরও কিছু ফিচার যোগ করবার ইচ্ছা আছে।</p>
	<p>ইনফিনিট লুপ এ মূলত প্রদত্ত বিভাগ গুলির উপর ই ল্যাঙ্গুয়েজ অনুসারে পোস্ট দেওয়া হবে। আর প্রতি পোস্ট এই ট্যাগ আকারে দেওয়া থাকবে পোস্ট টি আসলে কোন কোন বিষয় এর উপর লিখা হয়েছে। বিভাগ ও ট্যাগ ভিত্তিক ফিল্টার এর পাশাপাশি চাইলে উপরের সার্চ বক্স ব্যবহার করে যে কেউ এক বা একাধিক শব্দ প্রবেশ করে সহজেই খুঁজে বের করতে পারবেন আপনার প্রয়োজনীয় বিষয়ের উপর পোস্ট যদি আমাদের এখানে থেকে থাকে।</p>
	<p>আশা করছি ইনফিনিট লুপ এ নিজেদের পাশাপাশি বাকিদের জন্য ও কিছু করতে পারব। সাথেই থাকবেন।</p>
</div>