<p>স্বাগতম <%= @email %>!</p>

<p>নিচের লিঙ্ক এর মাদ্ধ্যমে আপনি আপনার একাউন্ট ই-মেইল টি নিশ্চিত করতে পারবেন:</p>

<p><%= link_to 'একাউন্ট নিশ্চিত করুন', confirmation_url(@resource, :confirmation_token => @token) %></p>
