<p>হ্যালো <%= @resource.email %>!</p>

<p>কেউ একজন আপনার পাসোয়ার্ড পরিবর্তন এর জন্য লিঙ্ক চেয়েছে। আপনি নিচের লিঙ্ক এর মাধ্যমে তা করতে পারবেন।</p>

<p><%= link_to 'পাসওয়ার্ড পরিবর্তন করুন', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>আপনি যদি এই অনুরোধ টি না করে থাকেন তাহলে ই-মেইল টি ইগনর করুন</p>
<p>আপনি যতক্ষণ উপরের লিঙ্ক এ না গিয়ে নতুন পাসওয়ার্ড না দিবেন ততক্ষণ আপনার পাসওয়ার্ড টি পরিবর্তন হবেনা।</p>
