<p>হ্যালো <%= @resource.email %>!</p>

<p>অতিরিক্ত পরিমাণে ব্যার্থ্য লগইন প্রচেষ্টার কারণে আপনার একাউন্ট টি সাময়িক ভাবে বন্ধ করে দেয়া হয়েছে।</p>

<p>আপনার একাউন্ট টি খুলতে নিচের লিঙ্ক এ ক্লিক করুন:</p>

<p><%= link_to 'একাউন্ট আনলক করুন', unlock_url(@resource, :unlock_token => @token) %></p>
